<div class='modal-one-movie'>
    <div class='modal-one-movie__scroll-box'>
        <div class='modal-one-movie__image-box'>
            <picture class='modal-one-movie__image'>
                <img src='https://www.themoviedb.org/t/p/w500/{{backdrop_path}}' alt='cover' />
            </picture>
        </div>
        {{!-- <div class='modal-one-movie__text-box'>
            <h3 class='modal-one-movie__title'>{{original_title}}</h3>
            <table class='modal-one-movie__table'>
                <caption class='modal-one-movie__caption'>about movie</caption>
                <tr class='modal-one-movie__table--row'>
                    <td class='modal-one-movie__table--first-list'>Vote / Votes</td>
                    <td class='modal-one-movie__table--second-list'>
                        <span class='modal-one-movie__text-box-accent'>
                            {{vote_average}}
                        </span>
                        {{vote_count}}
                    </td>
                </tr>
                <tr class='modal-one-movie__table--row'>
                    <td class='modal-one-movie__table--first-list'>Popularity</td>
                    <td class='modal-one-movie__table--second-list'>Original title</td>
                </tr>
                <tr class='modal-one-movie__table--row'>
                    <td class='modal-one-movie__table--first-list'>Genre</td>
                    <td class='modal-one-movie__table--second-list'>{{popularity}}
                        {{#each genres}}
                        {{name}}
                        {{/each}}</td>
                </tr>
                <tr class='modal-one-movie__table--row'>
                    <td class='modal-one-movie__table--first-list'>Original title</td>
                    <td class='modal-one-movie__table--second-list'>{{original_title}}</td>
                </tr>
            </table>
            <div class='modal-one-movie__about-box'>
                <h4 class='modal-one-movie__about'>About</h4>
                <p class='modal-one-movie__about-text'>
                    {{overview}}
                </p>
            </div>

            <div class='modal-one-movie__button-box'>
                <button class='global-button btn__watch'>Add to watched</button>
                <button class='global-button btn__queue'>Add to queue</button>
            </div> --}}
        {{!-- </div> --}}
    </div>
</div>